@model IEnumerable<Tranport_management_system.Models.Driver>

@{
    ViewData["Title"] = "Index";
}
<h3 class="text-black text-decoration-underline">Driver Details Details</h3>

<p>
    <a asp-action="Create"><input type="submit" value="Add Driver" class="btn btn-secondary m-1" /></a>
</p>
<table class="table table-striped border">
    <thead>
        <tr class="table-info">
            <th>
                Driver Name
            </th>
            <th>
                Driver Age
            </th>
            <th>
                Driver License 
            </th>
            <th>
                Driver Contact Number
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverLic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverContactNumber)
            </td>
            <td>
                    <a asp-controller="Vehicles" asp-action="Create" asp-route-id="@item.Id" class="btn btn-secondary">Allocate Driver</a>
        </tr>
}
    </tbody>
</table>
