@model IEnumerable<Tranport_management_system.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}
<h3 class="text-black text-decoration-underline"> Vehicle Details </h3>

<p>
   <a asp-action="Create"><input type="submit" value="Add Vehicle" class="btn btn-secondary m-1" /></a>
</p>

<table class="table table-striped border">
    <thead>
        <tr class="table-info">
            
            <th>
                Vehicle Name
            </th>
            <th>
                Vehicle Model
            </th>
            <th>
                Vehicle Status
            </th>
            <th>
                Vehicle Color
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.VehName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehColor)
            </td>
            <td>
            
                <a asp-action="Details" asp-route-id="@item.VehNumber" class="btn btn-secondary">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
