@model Tranport_management_system.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustSeatNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustSeatNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustDepature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustDepature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustArrivingTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustArrivingTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
