@model Tranport_management_system.Models.Booking

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4 class="text-info">Customer Booking Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustSeatNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustSeatNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustDepature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustDepature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustArrivingTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustArrivingTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><input type="submit" value="Edit" class="btn btn-secondary" /></a>
    <a asp-controller="Bookings" asp-action="Delete" asp-route-id="@Model?.Id"><input type="submit" value="Delete" class="btn btn-secondary" /></a>
    <a asp-action="Index"><input type="submit" value="Back to Details" class="btn btn-secondary" /></a>
</div>
