@model Tranport_management_system.Models.Register

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Register User Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminAgencyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminAgencyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><input type="submit" value="Edit" class="btn btn-secondary" /></a> 
    <a asp-controller="Register" asp-action="Delete" asp-route-id="@Model?.Id"><input type="submit" value="Delete" class="btn btn-secondary" /></a> 
    <a asp-action="Index"><input type="submit" value="Back to Details" class="btn btn-secondary" /></a>
</div>
