@model IEnumerable<Tranport_management_system.Models.Register>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped border" >
    <thead>
        <tr class="table-info">
            <th>
                Username
            </th>
            <th>
                Name
            </th>
            <th>
                Passoword
            </th>
            <th>
                Email
            </th>
            <th>
                Contact number
            </th>
            <th>
                Agency name
            </th>
            <th>
                Actions
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminAgencyName)
            </td>
            <td>
 
                <a asp-action="Details" asp-route-id="@item.Id"><input type="submit" value="Details" class="btn btn-secondary" /></a> 
         
            </td>
        </tr>
}
    </tbody>
</table>
